
input[type="submit"] {
    width: 100%;
    background-color: #8a2b06;
    padding: 14px 20px;
    color:white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #8a2b06
}